[Unit]
Description=RedWood Web Contet Filtering Proxy Server
After=network.target

[Service]
Type=simple
LimitNOFILE=16384
ExecStartPre=/bin/mkdir -p /var/log/redwood/
ExecStart=/usr/sbin/redwood
ExecReload=/bin/kill -SIGHUP $MAINPID
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
